.recovery_block {
    text-align: center;
    overflow: hidden;
    margin-bottom: 8px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: box-shadow 83ms;
    display: flex;
    border: none;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
    margin: 20px 0 20px 0;
    padding: 20px;
}
.recovery_block_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.recovery_block_content h4 {
    margin: 0 0 20px 0;
}
.recovery_block__footer {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}
.securityItem {
    margin: 10px 0 10px 0;
}
.recovery_header {
    text-align: center;
    overflow: hidden;
    margin-bottom: 8px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: box-shadow 83ms;
    display: flex;
    justify-content: space-between;
    border: none;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
    margin: 20px 0 5px 0;
}
.recovery_header__left {
    width: 30%;
    background-color: black;
    padding: 20px 0 20px 0;
}
.recovery_header__logo {
    object-fit: cover;
    height: 100px;
}
.recovery_header__right {
    width: 70%;
    background-color:#8E30F4;
    padding: 20px 0 20px 0;
}
.recovery_header__right > p {
    color: #FFFFFF;
    font-family: Courier;
    font-size: 34px;
    letter-spacing: 0;
    line-height: 36px;
    margin: 10px 0 10px 0;
}
.recovery_header__right > p ~ p {
    color: #FFFFFF;
    font-family: Courier;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 26px;
}
.footer_continue__button {
    background-color: #6200EE !important;
}
.footer_back__button {
    color: #6200EE !important;
    border: 1px solid !important
} 
