.comment__closeIcon {
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px 0 0;
    cursor: pointer;
}
.form__text > div {
 margin : 0 20px 20px 20px;
}
.form__text > button {
    margin: 0 20px 20px 0;
   }
.single_comment_userLabel {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 24px;
    color: #6200EE;
    margin: 0;
}