.main-header {
  width: 100%;
  background: #2c312e;
  padding: 8px 16px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.main-nav {
  display: flex;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:visited {
  color: white;
  border-bottom: 5px solid white;
  padding: 18px 0 18px 0;
}

.header__bar {
  background-color: #252525 !important;
  display: flex !important;
  /* flex-direction: row !important; */
  align-items: center !important;
  /* position:fixed !important;
    top:0 !important; */
}
.header__app {
}
.header__bar_item {
  text-transform: inherit !important;
  font-size: initial !important;
  color: white !important;
}
.header__img {
  object-fit: contain !important;
  height: 60px !important;
  margin-right: 10px !important;
  margin: 0 0px 20px 0 !important;
}
.header_sm {
  display: flex;
  flex-direction: row; 
  align-items: center;
  height: 60px;
  width:100%;
  /* justify-content: flex-start;  */
  
}
.header_right {
 width: 24px !important;
  height: 16px !important;
  margin-right: 10px !important;
   
}
.heading_sm{
  margin: auto;
}

.drawer_page {
  background-color: #2c312e !important;
  width: 100% !important;
}
.header_sm > img {
  margin-left: 10px !important;

}
.header__img_sm {
  height: 32px !important;
  width: 32px !important;
}
.responsive_header_sm {
  background-color: #252525 !important;
  display: flex !important;
  width: 100% !important;
}
.drawer_close_button {
  width: 32px !important;
  height: 32px !important;
  color: white !important;
  border: none !important;
  background-color: #252525 !important;
  position: absolute !important;
  right: 0 !important;
  margin: 14px !important;
}

.drawer_img {
  width: 50px;
  height: 50px;
  align-items: center;
}
.vertical_items {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 30px !important;
}
.header__item_sm {
  margin-top: 50px !important;
  font-size: initial !important;
  color: white !important;
  font-style: Roboto Regular !important;
  text-transform: inherit !important;
}
