.signUp {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    /* width:780px;
      justify-content: center; */
  }
  .signUpHeader {
    display: flex;
    height: 160px;
    background: #4057D6;;
    color: white;
    /* padding: 20px 20px; */
    border-radius: 5px;
    border-radius: 5px;
    align-items: flex-start;
  }
  .logo_div {
    height: 160px;
    width: 160px;
    border-radius: 5px;
    background-color: black;
  }
  .img {
    height: 100px;
    width: 100px;
    margin: 30px;
  }
  
  .heading_div {
    display: flex;
    flex-direction: column;
  }
  .heading_div > h1 {
    font-weight: 400 !important;
    font-family: courier !important;
    color: #e2e2e2;
    font-size: 34px !important;
    margin-left: 30px;
    margin-top: 20px;
  }
  .heading_div > h3 {
    font-weight: 400 !important;
    font-family: courier !important;
    color: #e2e2e2;
    font-size: 27px !important;
    margin-left: 30px;
    margin-top: -10px;
  }
  .signUp__section {
    /* text-align: center; */
    overflow: hidden;
    margin-bottom: 8px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: box-shadow 83ms;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
    margin: 20px 0 20px 0;
    padding: 20px;
  }
  
  .signUp__form {
    width: 100% !important;
  }
  .step6__section > h4 {
    font-weight: 400;
    font-family: Roboto;
    /* margin-bottom: 5px; */
    font-size: 20px;
    padding: 0 0 0px 0px;
    letter-spacing: 0.15px;
  }
  .step6__section {
    margin: 20px;
  }
  .step6__section > h3 {
    /* font-weight: 400; */
    font-family: Roboto;
    /* margin-bottom: 5px; */
    font-size: 20px;
    padding: 0 0 0px 0px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
  }
  .progress {
    margin: 20px 20px 0 20px;
  }
  .step2 {
    padding: 10px 10px 20px 20px;
  }
  .step5__section {
    padding: 0 0 0 20px;
  }
  .spinnerDiv {
    display: flex;
    justify-content: space-around;
  }
  .step2 h3 {
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 0px 0px;
    letter-spacing: 0.15px;
    line-height: 24px;
    margin: 10px 0 0 0;
  }
  .step3 h3 {
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 0px 0px;
    letter-spacing: 0.15px;
    line-height: 24px;
    margin: 10px 0 0 0;
  }
  .step7_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .step7_section h4 {
    font-family: Roboto;
    /* margin-bottom: 5px; */
    font-size: 20px;
    padding: 0 0 0px 0px;
    letter-spacing: 0.15px;
    line-height: 24px;
    margin: 10px 0 0 0;
  }
  .step7_section p {
    margin: 10px 0 0 0;
  }
