.signUp__form__page {
    width: 100% !important;
    margin-right: 10px !important;
}
.signUp__form_names {
    display: flex;
}
.signUp__form_login {
 display: flex;
 flex-direction: column;
}
.signUp__form_login > div {
    margin-top: 10px;
    width: 50% !important;
}
.signUp__form_password_recovery {
    width: 100% !important;
}
.security_answer {
    margin-top: 10px !important;
    width: 100% !important;
}
.step1 {
    padding: 10px 10px 20px 20px
}
.step1 > h4 {
    font-family:Roboto ;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 24px;
    color: rgba(0,0,0,0.87);
    padding: 0 0 10px 0px;
}
/* .step1 > h2 {
    font-family:Roboto ;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.15px;
    line-height: 24px;
    color: rgba(0,0,0,0.87);
    padding: 0 0 10px 10px;
} */
.signup__loginInfo > h4{
    font-family: Roboto;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 0 0 0px 0px;
    letter-spacing: 0.15px;
    color: rgba(0,0,0,0.87);
}
.signup__password_recovery > h4 {
    margin-bottom: 5px;
    padding: 0 0 0px 0px;
}