.signUp__form__page {
  width: 50% !important;
  padding: 0px 10px 0 0px !important;
  margin: 10px;
}
.signUp__form__lastName {
  width: 50% !important;
  margin: 0px 0px 0 10px !important;
}
.signUp__form_names {
  display: flex;
}
.signUp__form_login {
  /* text-align: center; */
  overflow: hidden;
  margin-bottom: 8px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: box-shadow 83ms;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
  margin: 20px 0 20px 0;
  padding: 20px;
}
/* .signUp__form_login > div {
    margin-top: 10px;
    width: 50% !important;
} */

.step1 {
  /* overflow: hidden !important;; */
  padding: 0px 0px 10px 0px !important;
}
.signUp__form__password {
  /* width: 100% !important; */
  /* overflow: hidden !important; */
  margin: 10px 15px 13px 0px !important;
  /* padding: 0px 10px 0px 0 !important;  */
}
.step1 > h4 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  padding: 0 0 10px 0px;
  margin: 4px 0px 20px 0px;
}
/* .step1 > h2 {
    font-family:Roboto ;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.15px;
    line-height: 24px;
    color: rgba(0,0,0,0.87);
    padding: 0 0 10px 10px;
} */
.signup__loginInfo > h4 {
  font-family: Roboto;
  margin: 20px 0 0px 0;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0 10px 0px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}
.signup__password_recovery > h4 {
  margin-bottom: 5px;
  padding: 0 0 0px 0px;
}
@media (max-width: 400px){
  .signUp__form__page {
    width: 100% !important;
    padding: 0px 10px 0 0px !important;
    margin: 10px;
 }
 .signUp__form_names {
  display: block;
}
}
.signUp__form__page_location {
  width: 100% !important;
  padding: 0px 10px 0 0px !important;
  margin: 10px;
}
