.step4__section {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
}
.step4__section h3 {
  font-weight: 500;
  margin: 0px 0 15px 0;
  letter-spacing: 0.15px;
}
.step4__section_element {
  margin: 15px 0 10px 0 !important;
}
.step4__section_Month {
  margin: 0px 80px 10px 0px !important;
}
.step4__section_Year {
  width: 100% !important;
  margin: 0px 0 10px 10px !important;
  padding-right: 10px !important;
  border-radius: 20px !important;
}
.step4__section_Year > p {
  color: #d32f2f !important;
}
.step4__section_element > h3 {
  font-weight: 300 !important;
}
.startDateSelection {
  display: flex !important;
  margin: 0px !important;
}

.step4__section_checkBox {
  padding: 0px 10px 10px 5px !important;
  margin: 0px;
}

.step4_inputLabel {
  font-weight: 400 !important;
  margin: 15px 0 15px 0px !important;
  letter-spacing: 0.15px !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 0.875rem !important;
}

.boder {
  border: solid 1px red !important;
}
